{% extends 'base.html.twig' %}

{% block title %}New Formation{% endblock %}

{% block body %}
    <h1>Ajouter Formation</h1>

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('app_formation_index') }}">retour aux enregistrements</a>
{% endblock %}
