{% extends 'base.html.twig' %}

{% block title %}New Organisme{% endblock %}

{% block body %}
    <h1>Créer : Organisme</h1>

    {{ include('organisme/_form.html.twig') }}

    <a href="{{ path('app_organisme_index') }}" class="button button-outline">retour à la liste</a>
{% endblock %}
