<header id='header'>
    <span class ='nav-heading nav-brand' > <img src="https://www.2itechacademy.com/wp-content/uploads/2020/02/cropped-Logo-2i-Tech-Academy-RVB-Blanc.png" alt="Symformations 2iTech"> </span>
    <input type ='checkbox' class = 'menu-toggle' id ='menu-toggle'>
   <nav class= 'header'>
       <ul>
            <li class='nav-header'>
                <a href = '/home'>Accueil</a>
            </li>
            <li>
                <a href = '/formation'>Formations</a>
            </li>
            <li>
                <a href = '/organisme'>Organismes</a>
            </li>
            <li>
                <a href = '/formateur'>Formateurs</a>
            </li>
            <li>
                <a href = '/promotion'>Promotions</a>
            </li>
            <li>
                <a href = '/session'>Sessions</a>
            </li>
            <li>
                <a href = '/candidat'>Candidats</a>
            </li>
            <li>
                <a href = '/salle'>Salles</a>
            </li>
       </ul>
   </nav>
   <label for='menu-toggle' class='menu-nav-toggle'>
       <span>  </span>
   </label>


</header>
